

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.titulo {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #000;
    z-index: 20;
}

.slider {
    margin: 0 auto;
    width: 70vw;
    height: auto;
    overflow: hidden;
    position: relative;

}

.slides {
    width: 400%;
    height: auto;
    display: flex;

}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;

}

.slide img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.manual-navigation {
    position: absolute;
    width: 70vw;
    bottom: 40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #0c9717;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 50px;
}

.manual-btn:hover {
    background: #500606;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

.navigatio-auto div {
    border: 2px solid  #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigatio-auto {
    position: absolute;
    width: 70vw;
    bottom: 10px;
    display: flex;
    justify-content: center;
}

.navigatio-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigatio-auto .auto-btn1 {
    background-color: #FFF;   
}

#radio2:checked ~ .navigatio-auto .auto-btn2 {
    background-color: #FFF;   
}

#radio3:checked ~ .navigatio-auto .auto-btn3 {
    background-color: #FFF;   
}

#radio4:checked ~ .navigatio-auto .auto-btn4 {
    background-color: #FFF;   
}

